*{
    margin: 5px;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:white;
}

h1{
    color: rgb(13, 184, 184);
    font-size: 60px;
    text-align: center;
    margin: 20px;
}
h3{
    color: rgb(27, 173, 173);
    font-size: 30px;

}
p{
    color:#ababab;
}
h5{
    color: beige;
}
li{
    list-style-type: square;
    margin-left:50px;
    padding-left: 10px;
}
